<!doctype html>
<title>Python Flask - Video Upload and Play Example</title>
<h2>Select a video to upload and play</h2>
<p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</p>
{% if filename %}
    <div style="margin: 10px auto;">
        <video autoplay="autoplay" controls="controls" preload="preload">
            <source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>
        </video>
    </div>
    <p>
        <a href="{{ url_for('download_video', filename=filename) }}" class="btn btn-primary">Download Video</a>
    </p>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="file" autocomplete="off" required>
        </p>
    </dl>
    <p>
        <input type="submit" value="Upload">
    </p>
</form>

{% if video_id %}
    <h2>video_id: {{video_id}}</h2>
{% endif %}

{% if videos %}
    <h2>Download a video</h2>
    <form action="{{ url_for('download_video') }}" method="get">
        <select name="filename">
            {% for video in videos %}
                <option value="{{ video }}">{{ video }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Download</button>
    </form>
{% endif %}
